.nav-ul{
    display: flex;
}
.nav-ul li{
    padding: 0 1rem;
}

.nav-ul li a{
    font-size: 1.2rem;
    font-weight: 500;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.temp{
    display: none;
}
@media screen and (max-width: 1040px) {
    .nav-ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: 100%;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-ul.active{
        left: 0;
    }
    
    .nav-ul li{
        padding: 1rem 0;

    }
    
    .nav-ul li a{
        font-size: 2rem;
    }
    .temp{
        display: initial;
    }

}